# Tópicos avançados em Python:

**List comprehension** - Cria nova lista com condiçoes

In [ ]:
#List comprehension
#y Deve receber o quadrado de cada item de x

#modo classico de fazer
'''x=[1,2,3,4,5]
y=[]

for i in x:
    y.append(i**2)

print(x)    
print(y)
'''

#usando list comprehension
x=[1,2,3,4,5]
y=[i**2 for i in x]         #sintaxe =>  y=[valor_a_adicionar laço condição]
z=[i for i in x if i%2==1]  #incluindo a condiçao para mostrar apenas numeros impares da lista x

print(x)    
print(y)
print(z)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 3, 5]

**Enumerate** - Lista o nome e o idice dos itens de uma lista

In [ ]:
#Funcao enumerate - listar o nome do item na lista e seu indice
lista = ["gato","bola","cachorro", "papagaio"]

#imprime os nomes da lista
for i in lista:
    print(i)

#imprime os indices da lista
for i in range(len(lista)):
    print(i)

print('_'*30+'\n usando Enumerate...\n')      

for i,nome in enumerate(lista):
    print(i,nome)

gato
bola
cachorro
papagaio
0
1
2
3
______________________________
 usando Enumerate...

0 gato
1 bola
2 cachorro
3 papagaio

**Map** - Aplica uma funçao a cada item de uma lista

In [ ]:
#map - pega cada elemento da lista e aplica uma determinada funçao 

valor = [1,2,3,4,5]

def dobro(x):
    return x*2

map(dobro, valor)                #Dois argumentos a funçao e a lista e retorna um objeto do tipo map
valorDobrado = map(dobro, valor) #O objeto map é atribuido a uma variavel e em seguida convertido em lista
valorDobrado = list(valorDobrado)
print(valorDobrado)

[2, 4, 6, 8, 10]

**Reduce** - Reduz uma lista a um único valor

In [ ]:
from functools import reduce
lista = [1,3,5,10]

#Somar todas os items da lista
def soma(x,y):
    return x+y
soma = reduce(soma,lista)
print(soma)


#Multiplicar os itens da lista
def multiplica(x,y):
    return x*y
multiplica = reduce(multiplica, lista)
print(multiplica)

19
150

**ZIP** - Uni n listas em uma unica lista

In [ ]:
lista1 = [101,102,103,104]
lista2 = ["Monitor","Mouse","Teclado","Fone de ouvido"]
lista3 = ["600,00", " 55,00", "300,00", "125,00"]

listaZipada = zip(lista1,lista2, lista3)
listaZipada = list(listaZipada)
print(listaZipada)

for codigo, produto, preco in zip(lista1,lista2, lista3):
    print(codigo, preco, produto)

[(101, 'Monitor', '600,00'), (102, 'Mouse', ' 55,00'), (103, 'Teclado', '300,00'), (104, 'Fone de ouvido', '125,00')]
101 600,00 Monitor
102  55,00 Mouse
103 300,00 Teclado
104 125,00 Fone de ouvido